@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "NATS";
  src: url("../fonts/NATS-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  background: #303235;
  background-size: cover;
  font-family: "NATS", sans-serif;
  font-size: 16px;
  color: #fff;
}

main {
  z-index: 2;
  position: absolute;
}

main div {
  position: static;
}

/* Just main */
.image__background {
  height: 72vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../assets/bg_home__blurred.jpg);
}

.image__skew {
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 120px 99vw 0 0;
  border-color: transparent #303235 transparent transparent;
  border-style: solid;
}

.cyberS__container {
  margin-top: -1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 60vh;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.cyberS__container::before {
  content: "";
  position: absolute;
  width: 102%;
  height: 60%;
  max-height: 800px;
  top: -18%;
  left: -1.6%;
  z-index: -1;
  -webkit-transform: rotate(-3.35deg);
          transform: rotate(-3.35deg);
  background-image: url("../img/bg_home.jpg");
  background-position: 0px 160px;
  background-size: cover;
}

.cyber__security {
  font-size: 140px;
  height: 120px;
  font-weight: 400;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cyber__solutions {
  font-size: 120px;
  font-weight: 400;
  margin: 0;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__register {
  width: 180px;
  background: #6c98ee;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 50px;
  height: 54px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button__register:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #6089dc;
}

/* Find teams */
.find__teams {
  max-width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.teams__title {
  font-size: 100px;
}

.teams__text {
  font-size: 35px;
}

.teams__items__container {
  margin-top: 120px;
  max-width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block__container {
  height: 340px;
  width: 340px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 15px 15px #303235, 15px 15px 0px 2px #fff;
          box-shadow: 15px 15px #303235, 15px 15px 0px 2px #fff;
  margin-bottom: 40px;
  margin-top: 40px;
}

.teams__image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70%;
}

.teams__image {
  width: 160px;
}

.teams__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  font-size: 44px;
  color: #303235;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__form__container {
  width: 100%;
  margin: 15vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__title {
  font-size: 80px;
}

.search__container {
  margin: 5vh auto;
  height: 60px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.search__input {
  width: 534px;
  height: 60px;
  border: none;
  font-size: 40px;
  color: black;
}

.search__submit {
  color: #fff;
  background: #303235;
  font-size: 25px;
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search__submit:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: black;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.background__circle {
  position: absolute;
  height: 850px;
  width: 850px;
  border-radius: 1000px;
  background: #655dd2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(101, 93, 210, 0)), to(#655dd2));
  background: linear-gradient(180deg, rgba(101, 93, 210, 0) 0%, #655dd2 100%);
  z-index: 1;
}

.background__circle::after {
  margin-left: 40px;
  margin-top: 40px;
  content: "";
  display: block;
  background-color: #303235;
  height: 770px;
  width: 770px;
  border-radius: 1000px;
  z-index: -1;
}

.bg__circle__01 {
  margin-left: -570px;
  margin-top: 500px;
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
}
/*# sourceMappingURL=style.css.map */