// Just Footer

footer {
  height: 100px;
  background: rgba(101, 93, 210, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.footer__logo {
  margin-top: 5px;
  margin-left: 22px;
  height: 72px;
  max-width: 140px;
  width: 12vw;
}

.footer__social {
  margin-top: 5px;
  margin-right: 25px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.footer__icons {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
