<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ZeroDay Cyber Security</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/icon.png">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />

  </head>
  <body>
    <header class="Header__container">
      <img src="../static/img/zeroDay_logo.svg" alt="Logo da Zero Day Security" class="logo"/>
        <ul class="nav__menu">
          <li class="menu__button">
            <a href="#" class="menu__link">Events and jobs</a>
          </li>
          <li class="menu__button">
            <a href="#" class="menu__link">Companies</a>
          </li>
          <li class="menu__button">
            <a href="#" class="menu__link">Teams</a>
          </li>
          <a class="menu__button menu__join">
              JOIN
          </a>
        </ul>
    </header>
    

    <main>
      <section class="cyberS__container">
          <span class="cyber__security">Cyber Security</span>
          <span class="cyber__solutions">Solutions</span>
    
          <button type="button" class="button__register">
            Register
          </button>
        <div class="image__background"></div>
        
      </section>

      <div class="find__teams">
        <span class="teams__title">Find Teams to solve your problems</span>
        <span class="teams__text">Here you can find the best teams to try to solve your problem or to be a part of your bug bounty event.</span>
        <span class="teams__text">Join now and have the chance to improve the security of your company.</span>
      </div>

      <div class="teams__blocks">
        <div class="block__container">
          <img class="teams__image" src="assets/teams.svg">
          <span class="teams__desc">Tracking</span>
        </div>
        <div class="block__container">
          <img class="teams__image" src="assets/teams.svg">
          <span class="teams__desc">Easy Search</span>
        </div>
        <div class="block__container">
          <img class="teams__image" src="assets/teams.svg">
          <span class="teams__desc">Security</span>
        </div>
        <div class="block__container">
          <img class="teams__image" src="assets/teams.svg">
          <span class="teams__desc">Simple</span>
        </div>
      </div>

      <div class="ts__container">
        <span class="search__title">Find the bests teams or opportunity</span>

        <form class="search__container">
          <input type="text" id="search" class="search__holder" placeholder="Search">
          <button></button>
        </form>
      </div>

    </main>
  </body>
</html>
