<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ZeroDay Cyber Security</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="./../static/img/icon.png" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link rel="stylesheet" href="../static/css/partials/normalize.css" />
		<link rel="stylesheet" href="../static/css/partials/header.css" />
		<link rel="stylesheet" href="../static/css/partials/footer.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
	</head>
	<body>
		<header class="Header__container">
			<a class="Header__logo__container" href="/">
				<img
					src="../static/img/zeroDay_logo.svg"
					alt="Logo da Zero Day Security"
					class="Header__logo"
				/>
			</a>
			<div class="nav__menu">
				<a href="#" class="menu__link">Premium</a>
				<a href="./search_result.html" class="menu__link">Teams</a>
				<a class="menu__button menu__join" href="./login_index.html"> JOIN </a>
			</div>
		</header>
		<main>
				<section class="cyberS__container">
					<span class="cyber__security">Cyber Security</span>
					<span class="cyber__solutions">Solutions</span>

					<button type="button" class="button__register">
						Register
					</button>
				</section>

				<section class="find__teams">
					<span class="teams__title"
						>Find Teams to solve your problems</span
					>
					<span class="teams__text"
						>Here you can find the best teams to try to solve your
						problem or to be a part of your bug bounty event.</span
					>
					<span class="teams__text"
						>Join now and have the chance to improve the security of
						your company.</span
					>
				</section>

				<section class="teams__items__container">
					<div class="block__container">
						<div class="teams__image__container">
							<img
								class="teams__image"
								src="../static/img//monitoring-svgrepo-com.svg"
							/>
						</div>
						<span class="teams__desc">Monitoring</span>
					</div>
					<div class="block__container">
						<div class="teams__image__container">
							<img
								class="teams__image"
								src="../static/img/teams.svg"
							/>
						</div>
						<span class="teams__desc">Easy Search</span>
					</div>
					<div class="block__container">
						<div class="teams__image__container">
							<img
								class="teams__image"
								src="../static/img/security-svgrepo-com.svg"
							/>
						</div>
						<span class="teams__desc">Security</span>
					</div>
					<div class="block__container">
						<div class="teams__image__container">
							<img
								class="teams__image"
								src="../static/img/border-all-solid-svgrepo-com.svg"
							/>
						</div>
						<span class="teams__desc">Simple</span>
					</div>
				</section>

				<section class="search__form__container">
					<span class="search__title"
						>Find the bests teams or opportunity</span
					>

					<form class="search__container">
						<input
							type="text"
							id="search"
							class="search__input"
							placeholder="Search"
						/>
						<button class="search__submit" onclick="location='./search_result'">
							<img src="../static/img/search.svg" alt="" />
						</button>
					</form>
				</section>
			<footer>
				<a href="#">
					<img 
						src="../static/img/zeroDay_logo.svg" 
						alt="Logo da Zero Day Security" 
						class="footer__logo">
				</a>
				<a class="footer__link" href="#">Terms</a>
				<a class="footer__link" href="#">All Rights Reserved 2021 &reg</a>
				<a class="footer__link" href="#">Support</a>
				<div class="footer__social">
					<a class="footer__icons" href="#">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a class="footer__icons" href="#">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</footer>
		</main>
	</body>
</html>