<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZeroDay Cyber Security</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="icon" href="../static/img/icon.png">
</head>

<body>
    <header class="Header__container">
        <a class="Header__logo__container" href="/">
            <img src="../static/img/zeroDay_logo.svg" alt="Logo da Zero Day Security" class="Header__logo" />
        </a>
        <div class="nav__menu">
            <a href="#" class="menu__link">Events</a>
            <a href="#" class="menu__link">Companies</a>
            <a href="#" class="menu__link">Teams</a>
            <a class="menu__button menu__join"> JOIN </a>
        </div>
    </header>

    <main>
        <div class="image_title_container">
            <span>First steps to join us</span>
        </div>
        <span class="first_text">Select the type of your account</span>
        <div class="select_container">
            <div class="block_container">
                <div class="account_image">
                    <img 
                    class="company" 
                    src="../static/img/company.svg">
                </div>
                <span class="text_image">Company</span>
            </div>
            <div class="block_container">
                <div class="account_image">
                    <img 
                    class="professional" 
                    src="../static/img/programer.svg">
                </div>
                <span class="text_image">Professional</span>
            </div>
        </div>
    </main>

    <footer>
        <a href="#">
            <img src="../static/img/zeroDay_logo.svg" alt="Logo da Zero Day Security" class="footer__logo">
        </a>
        <a class="footer__link" href="#">Terms</a>
        <a class="footer__link" href="#">All Rights Reserved 2021 &reg</a>
        <a class="footer__link" href="#">Support</a>
        <div class="footer__social">
            <a class="footer__icons" href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="footer__icons" href="#">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </footer>

</body>

</html>