<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/login/index.css" />
    <link href="http://fonts.cdnfonts.com/css/nats" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="../static/img/sexo.png" alt="" />
        </div>
        <div class="right">
            <span>Login</span>
            <form action="" method="POST" class="formContainer">

                <div class="inputContainer">
                    <label for="">Username</label>
                    <input type="text" name="" placeholder="Username" id="username" />
                </div>

                <div class="inputContainer">
                    <label for="">Password</label>
                    <input type="password" name="" placeholder="Password" id="" />
                    <label for=""></label>
                </div>
                <div class="forgot">
                    <a href="#">Forgot Password</a>
                </div>
                <div class="or">
                    <button class="button__join" type="submit">JOIN</button>
                    <a href="#">or register</a>
                </div>

            </form>
        </div>
    </div>
</body>

</html>