<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zero | Search Results</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- style tags -->
  <link rel="icon" href="./../static/img/icon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/partials/logged_header.css">
  <link rel="stylesheet" href="../static/css/profile/style.css">
  <link rel="stylesheet" href="../static/css/footer.css">

</head>
<body>
  <header>
    <div class="header__container">
      <a class="header__logo-container" href="./index.html">
        <img
          src="../static/img/zeroDay_logo.svg"
          alt="Logo da Zero Day Security"
          class="header__logo"
        />
      </a>

      <form class="search__container">
        <input
          type="text"
          id="search"
          class="search__input"
        />
        <button class="search__submit">
          <img src="../static/img/search.svg" alt="" />
        </button>
      </form>

      <div class="user__container">
        <span class="user__name">User</span>
        <img src="../static/img/user.jpg" 
        alt="Foto do usuario" 
        class="user__avatar">
      </div>
    </div>
  </header>

  <main>
    <div class="main__container">
      <div class="perfil__container">
        <div class="image__container">
          <img src="../static/img/user_fhd.png" class="perfil__img perfil__img-premium">
          <span class="premium__user">Premium user</span>
          <span class="high__recomended">High recomended</span>
        </div>
        <div class="desc__container">
          <div class="intro__desc">
            <span class="username">User name</span>
            <a href="#" class="report__button">Report failure</a>
          </div>
          <div class="about__desc">
            <span class="join__date">Joined 28/12/1969</span>
            <div class="about__container">
              <span class="about__me">About me</span>
              <div class="white__bar"></div>
            </div>
            <span class="about__text">Integer tincidunt tristique pharetra. Aliquam et eros sem. In congue varius tempus. Quisque dictum porta est ac viverra. Sed nunc tellus, semper quis lectus ut, efficitur sollicitudin ante. Nullam pharetra tincidunt risus nec efficitur. Duis ligula eros, tristique ac lorem ac, tempus laoreet nisl.</span>
          </div>
        </div>
      </div>

      <div class="reports__container">
        <div class="about__container">
          <span class="Reports">Reports</span>
          <div class="white__bar"></div>
        </div>
          <ul class="report__list">
            <li class="report__list-item">
              <a href="#" class="list__link">
                <div class="report__item">
                  <span class="text__list">Integer tincidunt tristique pharetra. Aliquam et eros sem. In congue varius tempus. Quisque dictum porta est ac viverra. </span>
                  <div class="details__stats">
                    <span>07/08/2021</span>
                    <span>Gol airlines</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="report__list-item">
              <a href="#" class="list__link">
                <div class="report__item">
                  <span class="text__list">Integer tincidunt tristique pharetra. Aliquam et eros sem. In congue varius tempus. Quisque dictum porta est ac viverra. </span>
                  <div class="details__stats">
                    <span>07/08/2021</span>
                    <span>Gol airlines</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="report__list-item">
              <a href="#" class="list__link">
                <div class="report__item">
                  <span class="text__list">Integer tincidunt tristique pharetra. Aliquam et eros sem. In congue varius tempus. Quisque dictum porta est ac viverra. </span>
                  <div class="details__stats">
                    <span>07/08/2021</span>
                    <span>Gol airlines</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </main>

  <footer>
    <a href="#">
      <img 
        src="../static/img/zeroDay_logo.svg" 
        alt="Logo da Zero Day Security" 
        class="footer__logo">
    </a>
    <a class="footer__link" href="#">Terms</a>
    <a class="footer__link" href="#">All Rights Reserved 2021 &reg</a>
    <a class="footer__link" href="#">Support</a>
    <div class="footer__social">
      <a class="footer__icons" href="#">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="footer__icons" href="#">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </footer>
</body>
</html>