<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/register/normalize.css" />
		<link rel="stylesheet" href="../static/css/register/index.css" />
		<link href="http://fonts.cdnfonts.com/css/nats" rel="stylesheet" />
		<title>Document</title>
	</head>

	<body>
		<div class="container">
			<div class="left">
				<img src="../static/img/jeremy-thomas-E0AHdsENmDg-unsplash-1.jpg" alt="" />
			</div>
			<div class="right">
				<span>Register</span>
				<form action="" method="POST" class="formContainer">
					<div class="inputContainer">
						<label for="">Username</label>
						<input
							type="text"
							name=""
							placeholder="Username"
							id="username"
						/>
					</div>
					<div class="inputContainer">
						<label for="">Email</label>
						<input type="email" name="" placeholder="Email" id="" />
					</div>
					<div class="inputContainer">
						<label for="">Tel</label>
						<input type="number" name="" placeholder="Tel" id="" />
					</div>
					<div class="inputContainer">
						<label for="">CPF/CNPJ</label>
						<input
							type="number"
							name=""
							placeholder="CPF/CNPJ"
							id=""
						/>
					</div>

					<div class="inputContainer">
						<label for="">Password</label>
						<input
							type="password"
							name=""
							placeholder="Password"
							id=""
						/>
					</div>

					<div class="inputContainer">
						<label for="">Password confirmation</label>
						<input
							type="password"
							name=""
							placeholder="Repeat password"
							id=""
						/>
					</div>

                    <button class="button__join" type="submit">JOIN</button>

				</form>
			</div>
		</div>
	</body>
</html>
